language: python

python:
- 3.6

services:
- mysql

addons:
  apt_packages:
     - libcups2-dev

branches:
  only:
  - develop

install:
- pip install --upgrade pip
- pip install -r requirements.txt
- pip install flake8
- pip install coveralls

before_script:
- flake8 edc_visit_schedule
- mysql -e 'create database edc character set utf8;'

script:
- coverage run --source=edc_visit_schedule manage.py test

after_success:
- coveralls
